@charset "UTF-8";
.categtags{width:100%; margin:0 auto 10px}
.g-in{width:100%}
.bgsrh{ font-size:14px; padding:3px 5px; margin:0}
.topbar-mod{ margin:0}
nav{ display:none}
.g-mn5c{margin:0 auto; width:95%}
.cloud-intro-mod{ padding:0}
.srh .btnsrh .btnsf{margin:3px; height:26px; line-height:26px; width:30%}
.u-ipt{ width: 80%; }
.m-hd-cnt{ margin:40px 0;}
